:root {
    --theme-color: #e0961f;
    --light-color: #f3eee6;
    --dark-color: #272624;
    --silver-color: #c4b8a7;
    --grey-color: #49443c;
    --basic-font: Verdana, Geneva, Tahoma, sans-serif;
    --readable-font: 'Noto Serif', serif;
    --monospace-font: 'Courier New', Courier, monospace;
}
a {
    color: inherit;
}
body {
    background: var(--light-color);
    color: var(--dark-color);
    font-family: var(--basic-font);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header, footer {
    background: var(--dark-color);
    color: var(--light-color);
    text-align: center;
    padding: 10px;
}
header {
    font-size: 1.2em;
    border-bottom: var(--theme-color) solid 2px;
}
header h1 {
    text-shadow: var(--theme-color) 2px 2px 2px;
}
footer {
    font-size: 0.8em;
    border-top: var(--theme-color) solid 2px;
}

/* content */
main {
    padding: 3%;
}
section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
}
section .img-container {
    height: 100%;
}
section img {
    max-height: 100%;
    max-width: 100%;
}
section .desc {
    padding: 5%;
}
section .desc h2 {
    color: var(--grey-color);
    border-bottom: var(--theme-color) solid 2px;
    font-size: 2em;
    margin-top: 0;
}
section .desc p {
    color: var(--grey-color);
    line-height: 1.4em;
    font-family: var(--readable-font);
    font-size: 1.1em;
}
section .desc ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-inline-start: 0;
    color: var(--theme-color);
    font-size: 2.5em;
}
@media screen and (min-width: 681px) {
    section div {
        max-width: 45%;
    }
    section:nth-child(2n+0) .desc {
        order: 1;
    }
    section:nth-child(2n+0) .img-container {
        order: 2;
    }
}